<div class="container-fluid">
    <div class="form-group">
        &nbsp;
    </div>
    <p class="text-center"> <strong>SOVA is built based on: </strong>
    <div class="row">
        <div class="form-group">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="../../../../css/images/logos.png" class = "img-thumbnail" />
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <div class="form-group">
        &nbsp;
    </div>
    <p class="text-center">
            <em>Group 7 - RAWDATA 2016 </em><br />
            <em>Hang Thu Pho & Cuong Ly Hung Tran </em>
    </p>
    
</div>
