
<div class="container-fluid">
    <div class="col-sm-6">
        <ul class="list-group" data-bind="foreach: annotations">
            <li class="list-group-item" data-bind="click: $parent.selectAnnotation, css: {active: $parent.isSelected($data)}">

                <span data-bind="text: postId">PostId</span>
                <span data-bind="text: annotationBody">searchString</span>
            </li>
        </ul>
    </div>
    <annotation-details></annotation-details>
    <table class="table table-striped">
        <thead>
            <tr>

                <th>total</th>
                <th>previous</th>
                <th>next</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td data-bind="text: total"></td>
                <td> <button data-bind="enable: canPrev(), click: showPrev">Previous</button></td>
                <td> <button data-bind="enable: canNext(),click: showNext">Next</button></td>

            </tr>
        </tbody>
    </table>
</div>