<div class="col-sm-6" data-bind="with: annotation">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">Comment No.:</label>
            <div class="col-sm-10">
                <input type="number"
                       class="form-control"
                       id="id"
                       readonly="readonly"
                       data-bind="textInput: annotationId"
                       placeholder="Id">
            </div>
        </div>
        <div class="form-group">
            <label for="commentcreationdate" class="col-sm-2 control-label">Date:</label>
            <div class="col-sm-10">
                <textarea type="number"
                          class="form-control"
                          id="commentCreationDate"
                          readonly="readonly"
                          data-bind="textInput: annotationCreationDate"
                          placeholder="CommentCreationDate"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="postid" class="col-sm-2 control-label">Post No.:</label>
            <div class="col-sm-10">
                <input type="number"
                       class="form-control"
                       id="postId"
                       data-bind="textInput: postId"
                       placeholder="PostId">
            </div>
        </div>
        <div class="form-group">
            <label for="commentbody" class="col-sm-2 control-label">Comment:</label>
            <div class="col-sm-10">
                <textarea type="text"
                          class="form-control"
                          id="commentBody"
                          data-bind="textInput: annotationBody"
                          placeholder="CommentBody">
                 </textarea>
            </div>
        </div>
      
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"
                        class="btn btn-success"
                        data-bind="click: $parent.saveAnnotation">
                    Save
                </button>
                <button type="submit"
                        class="btn btn-success"
                        data-bind="click: $parent.deleteAnnotation">
                    Delete
                </button>
            </div>
        </div>
    </form>
</div>