<input data-bind="textInput: search" />
<button data-bind="click: clickSearch">Search</button>
<ul data-bind="foreach: sList">
    <li>
        <span data-bind="text: id"></span>
        <span> <a href="#" data-bind="click: $parent.getDetails">See Details</a></span>
        <span data-bind="html: postBody"></span>
        <span data-bind="text: rank"></span>
    </li>
    

</ul>
<div data-bind="foreach: postDetail">

    <p data-bind="component:{name:'search-detail', params:{pLink: url, tit: title, body: postBody, ans: answer}}"></p>

</div>

<search-detail></search-detail>