<!--<span data-bind="text: $data"></span>-->
<!--span data-bind="text: pLink"></span>
<span data-bind="text: tit"></span>
<span data-bind="text: body"></span>
<span data-bind="text: ans"></span>-->
<!--<span data-bind="text: postBody"></span>
<span data-bind="text: rank"></span>-->
        hello this page is post detail view
<input data-bind="textInput: comment" />
<button data-bind="click: clickPost">Post</button>

<table>
    <thead>
        <tr>
            <th>url:</th>
            <th>title:</th>
            <th>id:</th>
            <th>postBody:</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-bind="text:pLink"></td>
            <td data-bind="text:tit"></td>
            <td data-bind="text:id"></td>
            <td data-bind="html:body"></td>

        </tr>
    </tbody>
</table>
<strong>Answers:</strong>
<ul data-bind="foreach: ans">
    <li data-bind="html:$data"></li>
</ul>