
<div class="container-fluid">
    <div class="row">
        <div class="popup-box chat-popup" id="qnimate">
            <div class="popup-head">
                <div class="popup-head-right pull-right">
                    <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-off"></i></button>
                </div>
            </div>
            <div class="popup-messages">
                <div class="direct-chat-messages">
                    <div>
                        <strong> Post details of post number <span data-bind="text:id"></span></strong>
                        <br />                  
                        <span>Title: </span><span data-bind="text:tit"></span><br />
                        <span>Post Body:</span> <span data-bind="html:body"></span><br />
                        <hr/>
                        Answers:
                        <ul data-bind="foreach: ans">
                            <li data-bind="html:$data"></li>
                        </ul>
                    </div>
                </div>
                <div class="popup-messages-footer">
                    <textarea data-bind="textInput: comment" id="status_message" placeholder="Type a comment..." rows="15" cols="50" name="message"></textarea>          
                    <div class="text-right">
                        <button data-bind="click: clickPost" class="btn btn-primary pull-right btn-sm btn-space">Add your personal comment</button>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>